#pauseButton{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#start{
    -fx-background-image:url('start.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 160px;
}

#resume{
    -fx-background-image:url('resume.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200px;
}

#setting{
    -fx-background-image:url('Setting.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
}

#resumeGameFromSettings{
     -fx-background-image:url('resumeSettings.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: 90px;
}

#saveExit{
     -fx-background-image:url('save.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: 145px;
}

#quitGame{
     -fx-background-image:url('quitGame.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: 60px;
}

#backStartFromEndgame{
     -fx-background-image:url('backHomeFromResume.png');
     -fx-background-repeat: no-repeat;
     -fx-background-size: 200px;
}

#backHomeFromSave{
    -fx-background-image:url('done.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100px;
}

#cancel{
    -fx-background-image:url('cancel.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 140px;
}

#startPageHighScore{
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200px;
}

#gameHighScore{
    -fx-font-size: 22;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200px;
}

#endgameHighScore{
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200px;
}

#endgameScore{
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200px;
}

#load1{
    -fx-background-image:url('load.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}
#load2{
    -fx-background-image:url('load.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}

#load3{
    -fx-background-image:url('load.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}

#save1{
    -fx-background-image:url('saveGame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}
#save2{
    -fx-background-image:url('saveGame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}

#save3{
    -fx-background-image:url('saveGame.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80px;
}

#backHomeFromResume{
    -fx-background-image:url('backHomeFromResume.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250px;
}

.button{
    -fx-background-color: #ffffff00;
}

#startPage{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#pauseWindow{
    -fx-background-color: #A4DE02;
}

#highScoreWindow{
    -fx-background-color: #A4DE02;
}

#revivePane{
    -fx-background-color: #A4DE02;
}